:root {
  --ifm-color-primary: #5b3fd4;
  --ifm-color-primary-dark: #4a31bd;
  --ifm-color-primary-darker: #432caf;
  --ifm-color-primary-darkest: #36238f;
  --ifm-color-primary-light: #7058dc;
  --ifm-color-primary-lighter: #7c66e0;
  --ifm-color-primary-lightest: #a698ec;
  --ifm-code-font-size: 95%;
}

[data-theme='dark'] {
  --ifm-color-primary: #a994ff;
  --ifm-color-primary-dark: #9078ff;
  --ifm-color-primary-darker: #846aff;
  --ifm-color-primary-darkest: #5e3dff;
  --ifm-color-primary-light: #c2b0ff;
  --ifm-color-primary-lighter: #cebeff;
  --ifm-color-primary-lightest: #f1ecff;
}
